<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <title>Blog Personal{% block title %}{% endblock title %}</title>
</head>
<body>
    {% comment %} navbar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> {% if user.is_authenticated %}{{user.username}}{% else %}Blog{% endif %}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              {% if user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="/form/">Agregar articulo</a>
              </li>
              {% endif %}
              
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
              </li>
              {% endif %}
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        {% block header %}{% endblock header %}
        {% block content %}{% endblock content %}
      </div>
</body>
</html>